.home-container {
    margin-top: 85px;
    padding: 0 6rem;
}

img {
    border-radius: 5px;
}

.home-heading h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
}

.home-heading h3 {

    font-family: 'Fira Sans', sans-serif;
}

.exp-icon {
    font-size: 3em;
}

.play-icon {
    font-size: 6em;
    cursor: pointer;
    color: #06A8FB;
}