.navigation-container {
    min-height: 90px;

}

.nav-title {
    font-family: 'Tapestry', cursive;
    font-weight: bold;
    font-size: 2em;
}

.nav-links {
    font-size: 1.05em;
}

.nav-links a {
    color: black;
    margin: auto 5px;
}

a:hover {
    color: #DB2D2E;
}