.service-icon {
    font-size: 4em;
    color: #56c3fa;
}

.icon-container {
    border-radius: 50%;
    background-color: white;
    padding: 7px;
    border: 2px solid #EFF6FA;
}

.service-container {
    background-color: #cee3fc;
    background-image: linear-gradient(178deg, #d8e9f3 0%, #ffffff 74%);
    padding: 7rem 6rem;
}

.card {
    border: none !important;
}

.service-card {
    transition: 0.4s;
}

.service-card:hover {
    box-shadow: #56c3fa 0px 0px 0px 2px;
}