.home-container {
    margin-top: 85px;
}

.home-img img {
    border-radius: 5px;
}

.home-heading h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3.6em;
}

.home-heading h3 {

    font-family: 'Fira Sans', sans-serif;
    font-size: 2.4em;
}

.see-all-btn {
    border: 1px solid #ed7440;
    font-size: 1.2em;
    padding: 7px 15px;
    font-weight: 500;
    background-color: #ed7440;
    color: white;
}

.see-all-btn:hover {
    color: #ed7440;
    background-color: #fff;
}